@page
@model Training_Facility.Pages.StudentList.IndexModel

<br />

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-infor"> Student List</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">Create New Stdent</a>
    </div>

    <div class="col-12 boreder p-3 m-3 mt-3">
        <form method="post">
            @if (Model.Students.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Students.FirstOrDefault().FullName" class="text-info"></label>
                        </th>
                        <th>
                            <label asp-for="Students.FirstOrDefault().DateOfBirth" class="text-info"></label>
                        </th>
                        <th>
                            <label asp-for="Students.FirstOrDefault().EmailAddress" class="text-info"></label>
                        </th>
                        <th>
                            <label asp-for="Students.FirstOrDefault().degree" class="text-info"></label>
                        </th>
                        @*<th>
                            <label asp-for="Students.FirstOrDefault()." class="text-info"></label>
                        </th>*@
                        <th>
                            <label>Functions</label>
                        </th>
                    </tr>
                    @foreach (var item in Model.Students)
                    {
                        <tr>
                            <td>
                                @item.FullName
                            </td>
                            <td>
                                @item.DateOfBirth
                            </td>
                            <td>
                                @item.EmailAddress
                            </td>
                            <td>
                              @item.degree
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.ID" onclick="return confirm('Sure to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Edit" asp-route-id="@item.ID" class"btn btn-success btn-sm text-white">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No Students vailable.</p>
            }
        </form>
    </div>
</div>

